Off Boarding WorkFlow.json.json
{
  "name": "Off Boarding WorkFlow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "16jh4lsVfWxRLNliA2_0TObTpS-tePhFMVaESmvzhKTk",
          "mode": "list",
          "cachedResultName": "HR New Hires",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jh4lsVfWxRLNliA2_0TObTpS-tePhFMVaESmvzhKTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jh4lsVfWxRLNliA2_0TObTpS-tePhFMVaESmvzhKTk/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "532ce85b-2749-4816-8882-3c73171330b2",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "X5d5Iu6Zvl6nza9U",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your offboarding — we'd love your feedback",
        "emailType": "text",
        "message": "=Hi {{ $json.Name }},\\n\\nThank you for your time with us. Please fill out this quick exit survey: [link]\\n\\nWe appreciate your honest feedback.\\n\\nBest regards,\\nHR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        -32
      ],
      "id": "66a50d0e-d8f3-4933-8271-b1456ba78d72",
      "name": "Send a message",
      "webhookId": "6d374a88-368c-495e-9643-6c5943b1da4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "mGRlfUTH4l1NC5jY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16jh4lsVfWxRLNliA2_0TObTpS-tePhFMVaESmvzhKTk",
          "mode": "list",
          "cachedResultName": "HR New Hires",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jh4lsVfWxRLNliA2_0TObTpS-tePhFMVaESmvzhKTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jh4lsVfWxRLNliA2_0TObTpS-tePhFMVaESmvzhKTk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Off Boarded"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "e15c1047-6ca3-43eb-bb09-1e79cca95f69",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vjI5a3n83bDQYOqe",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a90bcf19-5041-4fac-9a6e-73c26e200c4b",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Off Boarding",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "fc3d1815-168f-4ad6-aa78-7306964da2a0",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "hr-onboarding",
          "mode": "name"
        },
        "text": "=Channel: hr-onboarding Text: OFFBOARDING ALERT — IT Action Required  Employee: {{ $('If').item.json.Name }} Role: {{ $('If').item.json.Role }} Last Day: {{ $('If').item.json['End Date'] }}  Please revoke: Email, Slack, GitHub, Notion, and ALL system access within 24 hours.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        640,
        -32
      ],
      "id": "cd30f7b6-b8c5-40b1-a6ff-6aaf57566029",
      "name": "Send a message1",
      "webhookId": "36632115-2cfb-4bb9-94b6-422f31117b9e",
      "credentials": {
        "slackApi": {
          "id": "jBMr2NTt68t5utLO",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7ec6c5c5-baf0-45a4-b725-decf6a2b82d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d361637f1d70339ec01cb1a27fd403eac27fb61b561b025cd2a653356b47936c"
  },
  "id": "n9CmF6AKgfl_VHhGrybIH",
  "tags": []
}